@import url("https://fonts.googleapis.com/css2?family=Kenia&display=swap");

$fontOne: "Kenia", sans-serif;
$fontTwo: "Mukta", sans-serif;

$backGroundColor: #eaeff3;
$headerBackGroundColor: #0b3954;
$mainColor: #073e72;
$buttonBackGroundColor: #f8872b;

body {
  // font-family: "Kenia", cursive;
  font-family: "Mukta", sans-serif;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: $backGroundColor;
  margin: 0;
}

.navbar {
  display: flex;
  position: fixed;
  background-color: #fff;
  width: 99%;
  height: 15rem;
  margin: 0;
  top: 0;
  flex-direction: column;
  text-align: center;
  align-items: center;
  z-index: 15;

  .upper-Wrap {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 75px;
    width: 100%;
    height: 60%;

    .brand-Wrap {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      // font-family: "Kenia", sans-serif;
      font-size: 3rem;
      letter-spacing: 0.3rem;
      font-family: "Kenia", cursive;
      color: #073e72;

      i {
        color: #f8872b;
      }
    }

    .search-Wrap {
      position: relative;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      height: 50px;
      width: 550px;
      padding: 0;

      input {
        display: flex;
        padding: 0;
        margin: 0;
        padding-left: 55px;
        text-align: start;
        align-items: start;
        justify-content: space-evenly;
        height: 50px;
        font-size: 15px;
        width: 550px;
        background-color: $backGroundColor;
        border: none;
        border-radius: 5px;
        font-family: inherit;
      }

      i {
        font-size: 15px;
        position: absolute;
        left: 5%;
        color: $mainColor;
      }
    }

    .info-Wrap {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      gap: 15px;
      cursor: pointer;

      i {
        font-size: 22px;
        color: $mainColor;
      }
    }
  }

  .under-Wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 30%;

    ul {
      display: flex;
      list-style: none;
      width: 50%;
      font-size: 1.5rem;

      li {
        display: flex;
        gap: 5px;
        height: 40px;
        margin: 5px;
        width: 100%;
        flex-direction: column;
        padding: 1rem;
        border-style: solid;
        border-width: 1px;
        border-right: none;
        border-top: none;
        border-bottom: none;
        color: $mainColor;
        border-color: $backGroundColor;

        a {
          text-decoration: none;
          font-size: 12px;
          color: $mainColor;
          font-family: var($fontTwo);
        }
      }

      li:nth-child(1) {
        border: none;
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .upper-Wrap {
      gap: 45px;

      .brand-Wrap {
        font-size: 2.5rem;
      }

      .search-Wrap {
        height: 45px;
        width: 450px;

        input {
          padding-left: 45px;
          height: 45px;
          width: 450px;
        }

        i {
          font-size: 15px;
          position: absolute;
          left: 5%;
          color: $mainColor;
        }
      }

      .info-Wrap {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 15px;
        cursor: pointer;

        i {
          font-size: 22px;
          color: $mainColor;
        }
      }
    }

    .under-Wrap {
      justify-content: space-evenly;
      height: 100%;
      width: 100%;

      ul {
        justify-content: space-evenly;
        width: 90%;
        padding: 0;

        li {
          justify-content: space-evenly;
          height: 50px;
          width: 100%;
          padding: 1rem;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .upper-Wrap {
      gap: 45px;

      .brand-Wrap {
        font-size: 2rem;
      }

      .search-Wrap {
        height: 30px;
        width: 300px;

        input {
          padding-left: 45px;
          height: 30px;
          width: 300px;
        }

        i {
          font-size: 15px;
          position: absolute;
          left: 5%;
          color: $mainColor;
        }
      }

      .info-Wrap {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 15px;
        cursor: pointer;

        i {
          font-size: 22px;
          color: $mainColor;
        }
      }
    }

    .under-Wrap {
      justify-content: space-evenly;
      height: 100%;
      width: 100%;

      ul {
        justify-content: space-evenly;
        width: 90%;
        padding: 0;

        li {
          justify-content: space-evenly;
          height: 50px;
          width: 100%;
          padding: 1rem;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .upper-Wrap {
      gap: 15px;

      .brand-Wrap {
        font-size: 13px;
      }

      .search-Wrap {
        height: 30px;
        width: 150px;

        input {
          padding-left: 17px;
          height: 30px;
          width: 150px;
          font-size: 11px;
        }

        i {
          font-size: 11px;
          position: absolute;
          left: 1%;
          color: $mainColor;
        }
      }

      .info-Wrap {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 5px;
        cursor: pointer;

        i {
          font-size: 11px;
          color: $mainColor;
        }
      }
    }

    .under-Wrap {
      justify-content: space-evenly;
      height: 100%;
      width: 100%;

      ul {
        justify-content: space-evenly;
        width: 90%;
        padding: 0;

        li {
          justify-content: space-evenly;
          height: 50px;
          width: 100%;
          padding: 0.3rem;
        }
      }
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: start;
  padding-top: 30vh;
  width: 100%;
  height: 65vh;
  z-index: -1;

  .head-wrap {
    z-index: -1;
    position: relative;
    background-color: $headerBackGroundColor;
    border-radius: 40px;
    width: 80%;
    height: 100%;

    .header-Img {
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -47%);
      border-radius: 40px;
      position: absolute;
      height: 100%;
      width: 90%;
    }

    h1 {
      z-index: -1;
      text-align: end;
      font-size: 4rem;
      color: white;
      font-family: $fontTwo;
      top: 70%;
      right: 5%;
      transform: translate(-50%, -50%);
      border-radius: 40px;
      position: absolute;
      height: 100%;
    }

    .buttons-Wrap {
      z-index: -1;
      text-align: end;
      font-size: 4rem;
      color: white;
      font-family: $fontTwo;
      top: 90%;
      right: 10%;
      transform: translate(-50%, -50%);
      border-radius: 40px;
      position: absolute;
      height: 100%;

      button {
        padding: 11px 35px;
        background-color: transparent;
        border: none;
        border-radius: 25px;
        cursor: pointer;
      }

      .go-To-Shop-Btn {
        color: white;
        font-size: 16px;
        background-color: $buttonBackGroundColor;
      }

      .explore-Btn {
        color: $buttonBackGroundColor;
        font-size: 16px;
        background-color: white;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    .head-wrap {
      height: 60%;
      width: 100%;

      .header-Img {
        top: 55%;
        left: 50%;
        transform: translate(-50%, -47%);
        height: 100%;
        width: 95%;
      }

      h1 {
        top: 70%;
        right: 5%;
      }

      .buttons-Wrap {
        top: 100%;
        right: 10%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    .head-wrap {
      height: 60%;
      width: 100%;

      .header-Img {
        top: 55%;
        left: 50%;
        transform: translate(-50%, -47%);
        height: 100%;
        width: 95%;
      }

      h1 {
        top: 70%;
        right: 5%;
      }

      .buttons-Wrap {
        top: 100%;
        right: 10%;
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    position: relative;

    .head-wrap {
      position: relative;
      height: 50%;
      width: 100%;

      .header-Img {
        top: 75%;
        left: 50%;
        transform: translate(-50%, -47%);
        height: 65%;
        width: 95%;
      }

      h1 {
        font-size: 1rem;
        top: 75%;
        left: 50%;
        width: 0;
        height: 0;
        transform: translate(-50%, -47%);
      }

      .buttons-Wrap {
        display: flex;
        flex-direction: column;
        font-size: 11px;
        top: 105%;
        left: 50%;
        width: 50%;
        height: 100px;
        transform: translate(-50%, -47%);
        gap: 15px;

        .go-To-Shop-Btn {
          font-size: 15px;
        }
      }
    }
  }
}

.products-Wrap {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 75%;
  margin-top: 25rem;

  .products-Title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    align-items: start;

    h3 {
      font-weight: 600;
      font-size: 1.3rem;
      margin-bottom: 2rem;
      color: $headerBackGroundColor;
      padding: 0;
    }

    h4 {
      padding: 0;
      margin: 0;
      font-size: 4rem;
      color: $buttonBackGroundColor;
    }

    .products-Text {
      font-size: 5rem;
      padding: 0;
      margin: 0;
      color: $headerBackGroundColor;
    }
  }

  .product-Cards-Wrap {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 35px;
    width: 100%;

    .product-Card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      font-size: 25px;
      background-color: #f7f7f7;
      padding: 1rem;
      height: 175px;
      width: 160px;
      border-radius: 15px;
      cursor: pointer;
      transition: all;
      transition-duration: 0.5s;
    }

    .product-Card:hover {
      box-shadow: 0 0 25px #888;
      background-color: $backGroundColor;
    }
  }

  @media (max-width: 767px) {
    .product-Cards-Wrap {
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .products-Title {
      h3 {
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 2rem;
        color: $headerBackGroundColor;
        padding: 0;
      }

      h4 {
        padding: 0;
        margin: 0;
        font-size: 2.5rem;
        color: $buttonBackGroundColor;
      }

      .products-Text {
        font-size: 3.5rem;
        padding: 0;
        margin: 0;
        color: $headerBackGroundColor;
      }
    }
  }
}

.pricing-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: start;
  height: 1500px;
  width: 75%;
  margin-top: 1rem;

  .pricing-Title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 125px;
    width: 100%;

    .button-Title-Wrap {
      text-align: start;
      align-items: center;

      h3 {
        color: $headerBackGroundColor;
        font-size: 4rem;
      }

      button {
        padding: 8px 25px;
        border-radius: 25px;
        border-width: 1px;
        border-style: solid;
        background-color: transparent;
        font-size: 1rem;
        color: $buttonBackGroundColor;
        border-color: $buttonBackGroundColor;
        cursor: pointer;
      }
    }
  }

  .pricing-Cards {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    z-index: 0;

    .pricing-Card-Wrap {
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-between;
      width: 230px;
      height: 400px;
      padding: 50px;
      margin: 10px;
      background-color: #f7f7f7;
      border-radius: 2rem;

      .price-Title-Stars {
        h3 {
          font-weight: 200;
          font-size: 17px;
        }

        i {
          color: gold;
        }

        h2 {
          font-weight: 500;
          font-size: 20px;
        }
      }

      .favo-Wrap-Buttons {
        position: absolute;
        text-align: end;
        display: flex;
        flex-direction: column;
        width: 330px;
        height: 500px;
        padding: 0;
        margin: 0;
        top: 0;
        border-radius: 2rem;
        opacity: 0;
        transition: all ease-in 0.3s;

        .buttons-Wrap {
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 15%;
          right: 5px;

          span {
            display: flex;
            padding: 5px;
            height: 25px;
            margin: 5px;
            width: 25px;
            border-radius: 50%;
            text-align: center;
            align-items: center;
            background-color: wheat;
            justify-content: center;
          }
        }
      }

      .favo-Wrap-Buttons:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  .shop-Btn {
    padding: 10px 50px;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    font-size: 1rem;
    color: $buttonBackGroundColor;
    border-color: $buttonBackGroundColor;
    cursor: pointer;
  }
}
