@import url("https://fonts.googleapis.com/css2?family=Kenia&display=swap");

$fontOne: "Kenia", sans-serif;
$fontTwo: "Mukta", sans-serif;

$backGroundColor: #eaeff3;
$mainColor: #073e72;

body {
  // font-family: "Kenia", cursive;
  font-family: "Mukta", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: $backGroundColor;
  margin: 0;
}

.navbar {
  display: flex;
  position: fixed;
  background-color: #fff;
  width: 99%;
  height: 15rem;
  flex-direction: column;
  text-align: center;
  align-items: center;

  .upper-Wrap {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 75px;
    width: 100%;
    height: 60%;

    .brand-Wrap {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      // font-family: "Kenia", sans-serif;
      font-size: 3rem;
      letter-spacing: 0.3rem;
      font-family: "Kenia", cursive;
      color: #073e72;

      i {
        color: #f8872b;
      }
    }

    .search-Wrap {
      position: relative;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      height: 50px;
      width: 550px;
      padding: 0;

      input {
        display: flex;
        padding: 0;
        margin: 0;
        padding-left: 55px;
        text-align: start;
        align-items: start;
        justify-content: space-evenly;
        height: 50px;
        font-size: 15px;
        width: 550px;
        background-color: $backGroundColor;
        border: none;
        border-radius: 5px;
        font-family: inherit;
      }

      i {
        font-size: 15px;
        position: absolute;
        left: 5%;
        color: $mainColor;
      }
    }

    .info-Wrap {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      gap: 15px;
      cursor: pointer;

      i {
        font-size: 22px;
        color: $mainColor;
      }
    }
  }

  .under-Wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 30%;

    ul {
      display: flex;
      list-style: none;
      width: 50%;
      font-size: 1.5rem;

      li {
        display: flex;
        gap: 5px;
        height: 40px;
        margin: 5px;
        width: 100%;
        flex-direction: column;
        padding: 1rem;
        border-style: solid;
        border-width: 1px;
        border-right: none;
        border-top: none;
        border-bottom: none;
        color: $mainColor;
        border-color: $backGroundColor;

        a {
          text-decoration: none;
          font-size: 12px;
          color: $mainColor;
          font-family: var($fontTwo);
        }
      }

      li:nth-child(1) {
        border: none;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .upper-Wrap {
      gap: 45px;

      .brand-Wrap {
        font-size: 2rem;
      }

      .search-Wrap {
        height: 30px;
        width: 300px;

        input {
          padding-left: 45px;
          height: 30px;
          width: 300px;
        }

        i {
          font-size: 15px;
          position: absolute;
          left: 5%;
          color: $mainColor;
        }
      }

      .info-Wrap {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 15px;
        cursor: pointer;

        i {
          font-size: 22px;
          color: $mainColor;
        }
      }
    }

    .under-Wrap {
      justify-content: space-evenly;
      height: 100%;
      width: 100%;

      ul {
        justify-content: space-evenly;
        width: 90%;

        li {
          justify-content: space-evenly;
          height: 50px;
          width: 100%;
          padding: 1rem;
        }
      }
    }
  }
}
